html {
  font-size: 14px;
}

body {
    background-color: #2c2f33;
    color: white;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

    .table td, .table th {
        vertical-align: middle;
    }

.list-group-item-dark {
    background-color: #2c2f33;
    color: white;
    border: none;
}

    .list-group-item-dark.active {
        background-color: #5865f2;
        color: white;
    }
